/*Nav*/
div.toolbar{
    float: right;
}
/*div.title a < #navbar-brand{*/
    /*float:left;*/
/*}*/












/*Body*/
.main-form{
    text-align: center;
}


.body-block{
    padding-right: 280px;
    padding-bottom: 157px;
    padding-top: 55px;
}
.body-block h2{
     color: #337ac5;
 }
.login-body-block{
    padding-bottom: 308px;
    padding-top: 250px;
    padding-left: 0px;
}
.login-body-block a{
    float:right;
}
.login-body-block button{
    margin-left: 95px;
}

div.login-reminder{
    text-align: center;
}


/*Index Page*/
div.index-col{
    padding-right: 245px;
    padding-top: 75px;
    margin-bottom: 45px;

}











/*Footer*/

div.index-footer{
    padding-bottom: 8px

}


div.login-footer{
    padding-bottom: 20px;
}

div.process-login-footer{
    padding-bottom: 42px;
}


.footer{
    text-align: center;
}
.container-footer{
    background-color: gray;
    width: 100%;
    height: 100%;
}

div.process-cancel-footer{
    padding-bottom: 98px;
}

/*styles for the upcoming events page*/
.viewIMG{
    height: 400px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
    border: black solid 5px;
}
.viewLink{
    width: 100px;
    height: 50px;
    background-color: #337ab7;
    color: #ffffff;
    border-radius: 25px;
    padding-top: 15px;
    padding-left: 5px;
    margin-right: 250px;
    margin-top: 15px;
}

.tableTitle{
    width:600px;
    height: 20px;
    background-color: #222;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 20px;
}
.eventTable{
    width:600px;
    border: solid 1px #222;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.eventTable tr{
    border: solid 1px darkgray;
    text-align: center;


}

.eventTable th{
    text-align: center;


}

.eventTable td{
    border: dashed 1px darkgray;
    padding-left:5px;
}